

div.container {
	height: 100%;
	background: -webkit-linear-gradient(top, #088fad 20%, #00d5ff 100%);
}

.w3-container{
	border: 0;
	margin-top: 20px;
}

.container-fluid{
	padding: o;
}

.container-fluid .row{
	margin: o;
}

.task-lis{
	text-decoration: none;
}



/* Passa Mouse*/
#mostrar{
	display: none;
  }
  
#passar_mouse:hover #mostrar{
	font-size: 15px;
	color: #ccc;
	display:block;
	width: 100%;	
}
/*Aproxima mouse capa-sub*/
.fade{
	opacity:1;
}
	
.fade:hover{
	opacity:0.5;
}

.fas.fa-trash{
	cursor: pointer;

}


/* Login */
.auth-card{
	margin-bottom: 30px;
}


/*Tabelas*/
table, th, td {
	border: 1px solid black;
/* 	font-family: arial, sans-serif; */
	border-collapse: collapse;
  }

td, th {
	border: 1px solid #dddddd;
	padding: 8px;
  }

#alinha-text{
	text-align: left;
}

#alinha-text2{
	text-align: center;
}

#alinha-text3{
	text-align: center;
	width: 20px;
}


/* Messages*/

ul.messages{
	padding: 0;
}

ul.messages li{
	list-style: none;
}


/* Paginação */
.paginator{
	margin-bottom: 20px;
}

.step-links{
	padding: 20px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.step-links .current{
	margin-left: 5px;
	margin-right: 5px;
}


/* Localizar */
#serach-search{
	position: absolute;
	left: -10px

}

#search-btn{
	position: relative;
	left: -130px

}




/* Animations */

.example1 {
	height: 50px;	
	overflow: hidden;
	position: relative;
	top: -330px;
}
.example1 h3 {

	position: absolute;
	width: 100%;
	height: 100%;
	margin: 5;
	line-height: -100px;
	text-align: center;

	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: example1 15s linear infinite;
	-webkit-animation: example1 15s linear infinite;
	animation: example1 15s linear infinite;
}


/* Move it (define the animation) */
@-moz-keyframes example1 {
0%   { -moz-transform: translateX(100%); }
100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
0%   { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
0%   { 
-moz-transform: translateX(100%); /* Firefox bug fix */
-webkit-transform: translateX(100%); /* Firefox bug fix */
transform: translateX(100%); 		
}
100% { 
-moz-transform: translateX(-100%); /* Firefox bug fix */
-webkit-transform: translateX(-100%); /* Firefox bug fix */
transform: translateX(-100%); 
}
}
/*--------------------------------------------------------*/

a:link {
text-decoration:none;
}
a:visited {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}


#easter{
   position: relative;
   top: -10%;
   left: 50%;
}

