{% extends 'base.html' %}
{% block title %}Página Inicial Qualidade{% endblock %}
{% block content %}


<h2>Templates por Tipo <a href="newtask/"><i class="fas fa-plus"></i></a></h2>



<table class="w3-table-all">
	<thead>
		<tr>
			<th id="alinha-text">Inspeção</div></th>
			<th id="alinha-text3">Edição</div></th>
			<th id="alinha-text3">Exclusão</div></th>
		</tr>
	</thead>
	<tbody>
	{% for task in tasks %}
	<tr><!-- id="alinha-tr-temp" -->
		<td id="alinha-text"><div id="passar_mouse"><a href="task/{{task.id}}">{{task.inspection_name}}</a><div id="mostrar"><b>{{task.description}}</b></div></div></td>
		<td id="alinha-text3"><a href="edit/{{task.id}}"><i class="fas fa-edit"></i></a></td>
		
		<td id="alinha-text3"><a href="task/{{task.id}}"><i class="fas fa-trash"></i></a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}




<!-- <table id="tabela">
    <div class="col-2 add-div"></div>
    <ul class="task-list">
        {% for task in tasks %}
        <spam>{{task.id}}</spam>
        <spam>{{task.inspection_name}}</spam>
        <spam><a href="{{task.link_path_pdf}}" target="_blank">{{task.link_path_pdf}}</a></spam>
        
        <br>
         <spam><i class="fas fa-edit"></i></spam>
        {% endfor %}
    </ul>
</table> -->