{% extends 'base.html' %}
{% block title %}Página Inicial Qualidade{% endblock %}
{% block content %}

<div class="w3-container">

<h2>Responsive Table</h2>
	<div class="w3-responsive">
	<table class="w3-table-all">
		{% for task in tasks %}
	<tr id="alinha-tr-temp">
	  <td><div id="passar_mouse"><a href="task/{{task.id}}">{{task.inspection_name}}</a><div id="mostrar"><b>{{task.description}}</b></div></div></td>
	</tr>
	{% endfor %}
	</table>
	</div>

<br>
<br>
<table class="w3-table w3-bordered">
	{% for task in tasks %}
	<tr id="alinha-tr-temp">
	  <th><div id="passar_mouse"><a href="task/{{task.id}}">{{task.inspection_name}}</a><div id="mostrar"><b>{{task.description}}</b></div></div></th>
	</tr>
	{% endfor %}
	
  </table>
</div>
<br>
<br>

<main>
	<section>
	<h2>Modelo de Templates - Visualização: <a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Responsavel Inspeção.pdf" target="_blank">Responsabilidade das Inspeções</a></h2>
	<!-- <p>(Onde houver <font color="#DAA520"><b>### xx ###</b></font> é de preenchemento automático do EPM). Tudo em <font color="red"><b>Vermelho</b></font> é de preenchimento manual</p> -->

	<div >
		<table>
			{% for task in tasks %}
			<tr  id="alinha-tr-temp">
				<td><div id="passar_mouse"><a href="task/{{task.id}}">{{task.inspection_name}}</a><div id="mostrar"><b>{{task.description}}</b></div></div></td>
			</tr>
			{% endfor %}
		</table>
	</div>

</section>
</main>

<br>



{% endblock %}




<!-- <table id="tabela">
    <div class="col-2 add-div"></div>
    <ul class="task-list">
        {% for task in tasks %}
        <spam>{{task.id}}</spam>
        <spam>{{task.inspection_name}}</spam>
        <spam><a href="{{task.link_path_pdf}}" target="_blank">{{task.link_path_pdf}}</a></spam>
        
        <br>
         <spam><i class="fas fa-edit"></i></spam>
        {% endfor %}
    </ul>
</table> -->